<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- if there's access to internet adding a reference to bootstrap cdn would be nice help with the styling -->
    <!-- I'd be preferable not to use external scripts/css
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"> -->

    <!-- <link href="./style.css" rel="stylesheet" type="text/css" /> -->

    <!-- CSS goes in the document HEAD or added to your external stylesheet -->
    <style type="text/css">
        @media print{@page {size: landscape}}

        body {
            font-family: Arial,sans-serif;
        }

        td {
            vertical-align: top;
        }

        /* img {
            width: 10em;
        } */

        table.gridtable {
            /* font-family: verdana, arial, sans-serif; */
            /* font-size: 16px; */
            color: #333333;
            border-width: 2px;
            border-color: #666666;
            border-collapse: collapse;
            margin-bottom: 10px;
            page-break-after: always;
        }

        table.gridtable th {
            border-width: 2px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
            text-align: center;
        }

        table.gridtable td {
            border-width: 2px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 5px 5px 5px 20px;
        }

        ol {
            margin: 0px;
            margin-left: 10px;
            padding: 5px;
            padding-left: 10px;
        }

        li {
            margin: 1px 0px;
            padding: 0px;
            line-height: 110%;
        }

        li p {
            margin: 2px 0px;
            padding: 0px;
        }

        div.ncw {
            border: solid black 1px;
            padding: 0px;
            margin: 5px 0px;
        }

        div.ncw div {
            border: solid black 1px;
            margin: 0px;
        }

        div.ncw-head {
            font-weight: bold;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        div.ncw-warning div.ncw-head {
            background-color: red;
            color: white;
        }

        div.ncw-caution div.ncw-head {
            background-color: yellow;
            color: black;
        }

        div.ncw-body {
            padding: 5px;
        }

    </style>

    <title>{{procedure_name}}</title>
</head>


{# Create a micro that will write a bunch of steps as a list. #}
{% macro writeStepColumn(actor, steps) %}
    {# start the ordered list, keeping the numbering for the current actor column #}
    <ol start="{{actor.stepNum}}">
        {# Need to check of the step is a simple string for a single step, or is more complex #}
        {% if steps|isString %}
            {# If a simple string, the value is easy #}
            <li>{{steps}}</li>
            {# Make sure to increment the step #}
            {{actor|stepIncrement}}
        {% else %}
            {# Loop through each step #}
            {% for step in steps %}
                {# For simple case, just print the step. More work needs to be done for more complex cases #}
                <li>{{step.step}}</li>
                {# Make sure to increment the step number #}
                {{actor|stepIncrement}}
            {% endfor %}
        {% endif %}
    </ol>
{% endmacro %}

<body>
    <div class="container-fluid">
        <h1>
            {{procedure_name}}
        </h1>

        {# For each checklist in the tasks array, create a table #}
        {% for checklist in tasks %}

            {# Write the table name #}
            <h2>{{checklist.title}} ({{checklist.duration}})</h2>
            <table class="gridtable">
                {# Create Headers for each Actor #}
                <tr>
                    {% for actor in actors %}
                        {{ actor|stepIncrement(1) }}
                        <th>{{actor.role}}({{actor.name if actor.name}})</th>
                    {% endfor %}
                </tr>

                {# Cycle through the tasks in the checklist #}
                {% for taskList in checklist.evaTasks %}

                    {# Get the first level inside the taskList.  The variable here called 'name' is either
                       an actor, or could be a simultaneous step, labeled "simo".   If actor is actually 
                       an actor, then values are the steps.  If actor is "simo", then values would be a list 
                       of actors and steps that execute simultaneously (i.e. are in the same table row). 
                       
                       Either way, each entry in taskList represents a table row.  #}
                    {% for name, values in taskList %}
                        <tr>
                        {# Check for a 'simo' step #}
                        {% if name == "simo" %}
                            
                            {# Cycle through the columns, and get the contents if it exists #}
                            {% for colActor in actors %}
                                <td>
                                    {% if values[colActor.role] %}
                                        {{writeStepColumn(colActor, values[colActor.role])}}
                                    {% endif %}
                                </td>
                            {% endfor %} 

                        {% else %} {# Not a simo step #}
                            
                            {# Cycle through the columns, and get the contents if it exists #}
                            {% for colActor in actors %}
                                <td>
                                    {% if name == colActor.role %}
                                        {{writeStepColumn(colActor, values)}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endif %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        {% else %}
            <h2> No Tasks! </h2>
        {% endfor %}
    </div>
</body>

</html>
