<!DOCTYPE html>
<html lang="en">
{% from "macro.njk" import writeStepColumn, writeStep %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- if there's access to internet adding a reference to bootstrap cdn would be nice help with the styling -->
    <!-- I'd be preferable not to use external scripts/css
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"> -->

    <!-- <link href="./style.css" rel="stylesheet" type="text/css" /> -->

    <!-- CSS goes in the document HEAD or added to your external stylesheet -->
    {# {% if css=="css"%} #}
        {% include "css.njk" %}
    {# {% else%} #}
        {# {% include css.value%} #}
    {# {% endif%} #}

    <title>{{name}}</title>
</head>
    <body>
        
        {% block content%}

        {% endblock%}

    </body>


</html>