{# Create a macro that will write a bunch of steps as a list.
 # This is intended to be utilized as the internals of a table cell (<td>)
 #}
{% macro writeStepColumn(actor, steps) %}

    {# start the ordered list, keeping the numbering for the current actor column #}
    <ol start="{{actor.stepNum}}">

        {# Need to check of the step is a simple string for a single step, or is more complex #}
        {% if steps|isString %}

            {# If a simple string, the value is easy #}
            <li>{{steps|markdownFormatter}}</li>

            {# Make sure to increment the step #}
            {{actor|stepIncrement}}
        {% else %}

            {# Loop through each step #}
            {% for step in steps %}
                
                {# Write the title if it exists #}
                {% if step.title %}
                    {{step.title|markdownFormatter}}
                {% endif %}

                {# Check for warning #}
                {% if step.warning %}
                    <div class="ncw ncw-warning">
                        <div class="ncw-head">WARNING</div>
                        <div class="ncw-body">{{step.warning|markdownFormatter}}</div>
                    </div>

                {# Check for caution #}
                {% elif step.caution %}
                    <div class="ncw ncw-caution">
                        <div class="ncw-head">CAUTION</div>
                        <div class="ncw-body">{{step.caution|markdownFormatter}}</div>
                    </div>

                {# Check for note #}
                {% elif step.note %}
                    <div class="ncw ncw-note">
                        <div class="ncw-head">NOTE</div>
                        <div class="ncw-body">{{step.note|markdownFormatter}}</div>
                    </div>

                {# If not warning, caution, or note, it must be a step! #}
                {% else %}
                    
                    {{writeStep(actor, step)}}
                    
                {% endif %}
            {% endfor %}
        {% endif %}
    </ol>
{% endmacro %}

{# Put the actual step in a macro since it can call itself for substeps... #}
{% macro writeStep(actor, step) %}

    {# First, print the step #}
    <li>
        {{step.step|markdownFormatter}}
        {# Make sure to increment the step number #}
        {{actor|stepIncrement}}

        {# Check for checkboxes #}
        {% if step.checkboxes %}
            <ul>
                {% if step.checkboxes|isString %}
                    <li>{{step.checkboxes|checkboxes|markdownFormatter}}</li>
                {% else %}
                    {% for checkbox in step.checkboxes %}
                        <li>{{checkbox|checkboxes|markdownFormatter}}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        {# Check for substeps. #}
        {% if step.substeps %}
            <ul>
                {% if step.substeps|isString %}
                    {{writeStep(actor, step.substeps)}}
                {% else %}
                    {% for substep in step.substeps %}
                        {{writeStep(actor, substep)}}
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}

        {# Check for images. #}
        {% if step.images %}
            {% if step.images|isString %}
                <div class="sizeable"><p>drag bottom right corner to size image</p>
                <img class="img-fluid" src="{{step.images|imagePath}}" alt="image" />
                </div>
            {% else %}
                {% for image in step.images %}
                    <img class="img-fluid zoom" src="{{image|imagePath}}" alt="image" />
                {% endfor %}
            {% endif %}
        {% endif %}

        {# Check for comment. #}
        {% if step.comment %}
            {% if step.commnet|isString %}
                <p>{{step.comment|markdownFormatter}}</p>
            {% else %}
                {% for comment in step.comment %}
                    <div style="text-align: center;border-style: solid;border: 1">
                        {{comment|markdownFormatter}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

    </li>

{%- endmacro -%}