{% extends "base.njk" %}

{% block content %}
    <div class="container-fluid">
        <h1>
            {{procedure.name}}
        </h1>

        {# For each checklist in the tasks array, create a table #}
        {% for task in procedure.tasks %}
            {# make a table for the checklist #}
            {% include "taskTable.njk" %}
        {% else %}
            <h2> No Tasks! </h2>
        {% endfor %}
    </div>
    <div class="footer">Generated with eva-tasklist version {{version}}</div>
{% endblock %}
