{# Write the table name #}
<h3 class='tableTitle'>{{checklist.title}} ({{checklist.duration}})</h3>
<table class="gridtable">
    {# Create Headers for each Actor #}
    <tr>
        {% for actor in actors %}
            {{ actor|stepIncrement(1) }}
            <th>{{actor.role}}({{actor.name if actor.name}})</th>
        {% endfor %}
    </tr>

    {# Cycle through the tasks in the checklist #}
    {% for taskList in checklist.evaTasks %}

        {# Get the first level inside the taskList.  The variable here called 'name' is either
            an actor, or could be a simultaneous step, labeled "simo".   If actor is actually 
            an actor, then values are the steps.  If actor is "simo", then values would be a list 
            of actors and steps that execute simultaneously (i.e. are in the same table row). 
            
            Either way, each entry in taskList represents a table row.  #}
        {% for name, values in taskList %}
            <tr>
            {# Check for a 'simo' step #}
            {% if name == "simo" %}
                
                {# Cycle through the columns, and get the contents if it exists #}
                {% for colActor in actors %}
                    <td>
                        {% if values[colActor.role] %}
                            {{writeStepColumn(colActor, values[colActor.role])}}
                        {% endif %}
                    </td>
                {% endfor %} 

            {% else %} {# Not a simo step #}
                
                {# Cycle through the columns, and get the contents if it exists #}
                {% for colActor in actors %}
                    <td>
                        {% if name == colActor.role %}
                            {{writeStepColumn(colActor, values)}}
                        {% endif %}
                    </td>
                {% endfor %}
            {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
</table>


